main .main__content {
    background-image: url(./../src/images/headers/branche_olivier.jpg);
    transition: var(--long-transition-delay);
}

main .main__content__article__paragraph {
    margin: 0.5rem 0;
}

main .main__content__article__events__image {
    margin: 1rem auto 0 auto;
}

/* S (VW < 640px) */
@media screen and (max-width: 39.9375rem) {
}

/* M (640px <= VW < 1024px) */
@media screen and (min-width: 40rem) and (max-width: 63.9375rem) {
}

/* L (VW >= 1024px) */
@media screen and (max-width: 64rem) {
}
